.relogios-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.relogios-lista h2 {
  margin-bottom: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.relogios-lista h2 span {
  color: #c82828;
}
.relogios-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.relogios-lista li {
  flex: 1;
  min-width: 2px;
}

.relogios-lista a {
  display: block;
}

.relogios-lista img {
  margin-bottom: 16px;
}

.relogios-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.relogios-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: #c82828;
  transition: width 0.2s;
}

.relogios-lista a:hover h3::before {
  width: 24px;
}

.relogios-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .relogios-lista {
    padding-bottom: 60px;
  }
  .relogios-lista ul {
    gap: 20px;
  }
}
